<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
	name="TestServerSuite"
	parallel="none">
	<test name="TestServerTest">
		<groups>
			<dependencies>
				<!-- cool uri tests mess up the suite because they have different guice 
					bindings -->
				<group
					name="cool-uritest"
					depends-on="restlet-errors-client-test.*" />
				<group
					name="restlet-client-test"
					depends-on="http-test.*" />
				<group
					name="restlet-errors-client-test"
					depends-on="restlet-client-test.*" />
				<group
					name="http-test"
					depends-on="resources-test.*" />
			</dependencies>
		</groups>
		<classes>
			<class name="org.nees.illinois.replay.test.server.RestletClientTest" />
			<class name="org.nees.illinois.replay.test.server.RestletErrorsClientTest" />
			<class name="org.nees.illinois.replay.test.server.CoolUriTest"/>
			<class name="org.nees.illinois.replay.test.resources.ResourcesTest" />
			<class name="org.nees.illinois.replay.test.server.HttpTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
